body {
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  #shop-page {
    display: flex;
    width: 100vw; 
    height: 100vh; 
    box-sizing: border-box;
  }
  
  #filter-container {
    flex: 0.2;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100%; 
  }
  
  #filter-container h1 {
    margin-bottom: 10px;
  }
  
  .filter-options {
    margin-bottom: 20px;
  }
  
  .filter-options label {
    display: block;
    margin-bottom: 5px;
  }
  
  #product-container {
    flex: 0.8;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    height: 100%; 
  }
  
  .product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 350px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-card h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 16px;
    color: #d9534f;
  }

  .product-card h3 {
    font-size: 10px; 
    color: #2c3e50; 
    font-weight: bold; 
    margin-bottom: 10px; 
    text-align: center; 
    text-transform: uppercase; 
  }
  
  .read-more-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .read-more-button:hover {
    background-color: #c9302c;
  }
  
  .reset-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
  }
  