  body {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #list-page {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }

  #filter-container {
    grid-column: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100%;
    margin-left: 80px;
  }

  #filter-container h1 {
    margin-bottom: 10px;

  }

  .filter-options {
    margin-bottom: 20px;
  }

  .filter-options label {
    display: block;
    margin-bottom: 5px;
  }

  .product-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
  }

  .list-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 700px;
    margin: 10px;
  }

  .list-product-card:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  }

  .list-product-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

  .list-product-image {
    width: 80%;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
  }

  .special-product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
  }

  .list-product-description {
    font-size: 0.9em;
    color: #666;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .list-product-price {
    display: inline-block;
    background-color: green !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: bold;
    align-items: center;
  }

  .list-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }


  .list-button:hover {
    background-color: #45a049;
  }