.special-products {
  margin-top: 50px;
  margin-left: 230px;
  margin-right: 100px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
}

.special-products-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.special-products-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin: 10 auto;
  margin-bottom: 20px;
}

.special-product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left:0ppx;
}

.special-product-card:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

.special-product-name {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: center; 
}

.special-product-name:hover {
  color: #ff6f61;/
}

.special-product-price {

  font-size: 18px;
  margin-top: 5px;
}

.special-product-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}



.special-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height:600px;
  margin: 10px;
 
}

.special-product-image {
  width: 80%;
  height: 300px; 
  object-fit: cover; 
  margin:10px;
  border-radius: 8px;
}

.product-details {
  text-align: justify; 
}

.product-description {
  font-size: 0.9em;
  color: #666;
  align-items: center; 
}

.product-price {
  display: inline-block;
  background-color: green !important;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 20px;
 
}

.product-price {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: green !important;
  margin-left:20px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.shop-button {
  background-color: #ff6b6b; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 20px; 
  left: -30px;
}

.shop-button:hover {
  background-color: #e65c55;
}