#page-container {
  display: flex;
  background-color: #ffffff;
  height: 100vh;
}

#product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px; 
  margin-left:100px;
}

#product-container {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
  margin:50px;
}

#product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-image img {
  height: auto;
  object-fit: cover; 
  width: 800px; 
  height: 700px; 
  border-radius: 10px; 
}

#product-details {
  flex: 1;
  text-align: justify;
}

#product-details h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

#product-details p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

#product-details h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #333;
}

#product-details ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

#product-details li {
  font-size: 16px;
  margin-bottom: 5px;
}

.add-to-cart-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #218838;
}
